# FE
node_modules
build
dist

# dotenv
.env*

# virtualenv
.venv
venv
venv/
ENV/

# Docker/GIT
Dockerfile
.git
.gitignore
.dockerignore
docker-compose*

#
LICENCE*
README*

shadow
samples
media

Caddyfile*