# env used for fully containerized development,
# i.e. with all services running in Docker, including the proxy

HOST_URL=musikk.stream
SERVICE_URL=https://{HOST_URL}

### BACKEND
DJANGO_SETTINGS_MODULE=musikk.settings.dev
DEBUG=False
DJANGO_SECRET_KEY=<SECRET_KEY>
DJANGO_ALLOWED_HOSTS=${HOST_URL}
DJANGO_PORT=8000
DJANGO_BASE_URL=${SERVICE_URL}:${DJANGO_PORT}

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_PORT=5672

CELERY_TASK_ALWAYS_EAGER=False
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@{RABBITMQ_HOST}:${RABBITMQ_PORT}//
#CELERY_RESULT_BACKEND=
CELERY_TASK_ACKS_LATE=True
CELERY_TASK_ACKS_ON_FAILURE_OR_TIMEOUT=True
CELERY_TASK_REJECT_ON_WORKER_LOST=False
CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_WORKER_MAX_TASKS_PER_CHILD=1000

MEDIA_ROOT=/app/media
AUDIO_CONTENT_PATH=${MEDIA_ROOT}/audio
MEDIA_URL=media/
STATIC_URL=static/

SQL_ENGINE=django.db.backends.postgresql
POSTGRES_USER=musikk_user
POSTGRES_PASSWORD=musikk_password
POSTGRES_DB=musikk_db
POSTGRES_HOST=database
POSTGRES_PORT=5432

REDIS_PASSWORD=password
REDIS_HOST=redis
REDIS_PORT=6372
REDIS_DB=1

# Mail
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@mail.musikk.stream
SERVER_EMAIL=server@mail.musikk.stream

MAILGUN_API_KEY=apikey
MAILGUN_API_URL=https://api.eu.mailgun.net/v3
MAILGUN_SENDER_DOMAIN=mail.musikk.stream

###
VITE_API_BASE_URL=${SERVICE_URL}