# env used for local development,
# i.e. with Django/Node devservers running on your machine

### BACKEND
DJANGO_SETTINGS_MODULE=musikk.settings.local
DEBUG=True
DJANGO_SECRET_KEY=<SECRET_KEY>
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_PORT=8005
DJANGO_BASE_URL=http://localhost:${DJANGO_PORT}

RABBITMQ_HOST=localhost
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_PORT=5675

CELERY_TASK_ALWAYS_EAGER=True
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@{RABBITMQ_HOST}:${RABBITMQ_PORT}//
#CELERY_RESULT_BACKEND=
CELERY_TASK_ACKS_LATE=True
CELERY_TASK_ACKS_ON_FAILURE_OR_TIMEOUT=True
CELERY_TASK_REJECT_ON_WORKER_LOST=False
CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_WORKER_MAX_TASKS_PER_CHILD=1000


# MEDIA will be located under the root of the project(where src dir lives), if not specified
# Provide a fullpath here
#MEDIA_ROOT=/home/*user*/musikk/media

# Provide a relative directory to MEDIA_ROOT
#AUDIO_CONTENT_PATH=audio

MEDIA_URL=media/
STATIC_URL=static/

# Auth
ACCOUNT_RATE_LIMITS=False

# DBs
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5435

REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_PORT=6375
REDIS_DB=1

# Mail
EMAIL_BACKEND=anymail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=from@example.com
SERVER_EMAIL=server@example.com

### FRONTEND
VITE_PORT=5175
# Specifies what url to use for API requests
VITE_API_BASE_URL=${DJANGO_BASE_URL}