# env used for fully containerized development,
# i.e. with all services running in Docker, including the proxy

# use linux/arm64 for M* Macs
DOCKER_BUILD_PLATFORM=linux/amd64

HOST_URL=musikk.stream
SERVICE_URL=https://{HOST_URL}

### BACKEND
DEBUG=False
DJANGO_SECRET_KEY=<SECRET_KEY>
DJANGO_ALLOWED_HOSTS=${HOST_URL}
DJANGO_PORT=8000
DJANGO_BASE_URL=${SERVICE_URL}:${DJANGO_PORT}
DJANGO_SETTINGS_MODULE=musikk.settings.prod

MEDIA_ROOT=/app/media/
AUDIO_CONTENT_PATH=${MEDIA_ROOT}audio/
MEDIA_URL=media/
STATIC_URL=static/

SQL_ENGINE=django.db.backends.postgresql
POSTGRES_USER=musikk_user
POSTGRES_PASSWORD=musikk_password
POSTGRES_DB=musikk_db
POSTGRES_HOST=database
POSTGRES_PORT=5432

###
VITE_API_BASE_URL=${SERVICE_URL}