# env used for local development,
# i.e. with Django/Node devservers running on your machine

### BACKEND
DJANGO_SETTINGS_MODULE=musikk.settings.dev
DEBUG=True
DJANGO_SECRET_KEY=<SECRET_KEY>
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_PORT=8005
DJANGO_BASE_URL=http://localhost:${DJANGO_PORT}

# MEDIA/AUDIO will be located under the root of the project, if not changed
MEDIA_ROOT=/media/
AUDIO_CONTENT_PATH=/audio/
MEDIA_URL=media/
STATIC_URL=static/

SQL_ENGINE=django.db.backends.postgresql
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5435

### FRONTEND
VITE_PORT=5175
# Specifies what url to use for API requests
VITE_API_BASE_URL=${DJANGO_BASE_URL}