musikk.stream {
    root /var/www/frontend
    file_server

    handle_path /static/* {
        root /app/staticfiles
        file_server
    }
    handle_path /media/* {
        root /app/media
        file_server
    }

    reverse_proxy /api/* server:8000 {
        header_up X-Forwarded-Proto {scheme}
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}